.space{
    background-image: url(space.png);
}

.planet-area{
    position: relative;
    left:0;
    bottom: 0;
}

.rocket{
    position:absolute;
    transform: rotate(45deg);
    left: 400px;
}
.planet{
    position:relative;
    bottom:-20px;
    left: 0px;
}
.control-panel{
    position: absolute;
    right:0;
    bottom:0;
    display:flex;
    flex-wrap: wrap;
    width: 250px;
    background-color: #FF7D9D;
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
    0px 36px, 4px 2px, 29px 6px, 33px 30px;
    background-image:
            linear-gradient(335deg, #C90032 23px, transparent 23px),
            linear-gradient(155deg, #C90032 23px, transparent 23px),
            linear-gradient(335deg, #C90032 23px, transparent 23px),
            linear-gradient(155deg, #C90032 23px, transparent 23px),

            linear-gradient(335deg, #C90032 10px, transparent 10px),
            linear-gradient(155deg, #C90032 10px, transparent 10px),
            linear-gradient(335deg, #C90032 10px, transparent 10px),
            linear-gradient(155deg, #C90032 10px, transparent 10px);
    padding:20px;
}
.check-buttons{
    width:250px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.levers{
    width:250px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
input[type=range]{
    -webkit-appearance: slider-vertical;
    width:40px;
}
.launch-button{
    margin:0 auto;
    border-radius: 10px;
    background-color: red;
    display:flex;
}

.control-panel__inner{
    background-color: grey;
}

.textbox{
    border: 2px solid darkgray;
    margin:10px;
    color:red;
}

.ok-button{
    border: 2px solid darkgray;
    background-color:yellow;
}
